@charset "UTF-8";
@font-face {
  font-family: "Caveat", cursive;
  src: url(../media/Fonts/Caveat/Caveat-VariableFont_wght.ttf);
}
@media screen and (min-width: 1200px) {
  form {
    -webkit-transition-delay: 0.5s;
            transition-delay: 0.5s;
    -webkit-transition: 3s;
    transition: 3s;
  }
  form:hover {
    /* transform: scale(1.1); */
    width: calc(30% + 10px);
    -webkit-transition: 2s;
    transition: 2s;
  }
}
@media screen and (max-width: 500px) {
  .slide img {
    height: 40vh;
    width: 40vw;
  }
}
@media screen and (max-width: 990px) {
  .navbar-toggler {
    background-color: rgb(212, 175, 55);
  }
}
@media screen and (min-width: 991px) {
  header div a img:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  header div nav div img:hover {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  header div nav div div ul li a:hover {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  header div nav div div ul li a strong {
    color: rgb(212, 175, 55);
    font-family: "Caveat", cursive;
  }
}
.animate__animated.animate__flipInX {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

/* MODIFICACIÓN DEL CARRUSEL */
.slide {
  margin: 10px;
}
.slide img {
  height: 60vh;
  width: 60vw;
}

/* BG del BODY */
.brasas {
  background-size: cover;
  min-height: 100vh;
}

header nav div ul li a strong {
  color: rgb(212, 175, 55);
  font-family: "Caveat", cursive;
}

#mainIndex video {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}
#mainIndex div {
  text-align: center;
  color: rgb(212, 175, 55);
  font-family: "Caveat", cursive;
  font-weight: bold;
  font-size: 1rem;
}

footer {
  background-image: url(../media/fondomadera.png);
  background-size: cover;
}
footer div p strong {
  color: rgb(212, 175, 55);
  font-family: "Caveat", cursive;
}
footer div p {
  color: rgb(212, 175, 55);
  font-family: "Caveat", cursive;
}

.btnig, .btny, .btnf {
  background-color: magenta;
  border-radius: 10px;
}

.btnf {
  background-color: aqua;
}

.btny {
  background-color: brown;
}