.animate__animated.animate__flipInX{
    @include animacion(0.5s,1.5s)
}
  
/* MODIFICACIÓN DEL CARRUSEL */
.slide{
    margin: 10px;
    img{
        height: 60vh;
        width: 60vw;
        }
    }
