header{
    div{
        h1{
           a{
            color:$dorado;
            font-family: $fuente;
           }
        }
    }
    nav{
        div{
            div{
                ul{
                    li{
                        a{
                            strong{
                                color: $dorado;
                                font-family: $fuente;
                            }
                        }
                    }
                }
            }
        }

    }
}