header{        
        nav{                  
            div{
                ul{
                    text-align: center; /*alinear los items del nav al centro en toggler*/
                    li{
                        a{ 
                               
                            strong{
                                color: $dorado;
                                font-family: $fuente;
                            }
                        }
                    }
                }
            }       
    }
}