

/*Aplicado z-index para el main de la página index para que no se extienda tanto el height.*/
#mainIndex{ 
    
    video{
        filter:grayscale(100%) contrast(25%);
        
        width: 100vw;
        max-height: 100vh; 
               
}}
        


/*Color y font-family general para todos los Main*/
main{
   
   
    h1{
       font-family: map-get($texto, fuente );
        color: map-get($texto, color )
    }
    h2{
        font-family: map-get($texto, fuente );
        color: map-get($texto, color )
    }
    h4{
        font-family: map-get($texto, fuente );
        color: map-get($texto, color )
    }
    h5{
        font-family: map-get($texto, fuente );
        color: map-get($texto, color )
    }
    p{
        font-family: map-get($texto, fuente );
        color: map-get($texto, color );     
    }
    form{
        color: map-get($texto, color );
    }
}
/*Desde 380px hasta 990px de ancho en la página Nosotros las ímagenes son botones tipo Card */
.card-nosotros{
    text-align: map-get($texto, centro);
    color: map-get($texto, color );
    font-family: map-get($texto, fuente );
    font-weight: map-get($texto , negrita );
    font-size: map-get($texto, tfuente );
}
/*Función global para los bordes de las imágenes*/
.bordeImg{
    border-color: map-get($bordeImagenes, color );
    border-style: map-get($bordeImagenes, style );
    border-width: map-get($bordeImagenes, ancho );
}