
@media screen and (min-width:1200px) {
    form{
        transition-delay: 0.5s;
        transition: 3s;     
            &:hover{
            /* transform: scale(1.1); */
            width: calc(30% + 10px );
            transition: 2s;
         }  
         }
        }  
@media screen and (max-width:500px) {
            .slide img{
                height: 40vh;
                width: 40vw;
            }
            
        }
@media screen and (max-width:990px){
            .navbar-toggler{
                background-color: $dorado;
            }    
        }       