
 $dorado:rgb(212, 175, 55);
 @font-face {
    font-family:'Caveat', cursive;
    src: url(../media/Fonts/Caveat/Caveat-VariableFont_wght.ttf);
 }
 $fuente:'Caveat', cursive;

 $texto:(
  color:rgb(212, 175, 55),
  tfuente: 1rem,
  negrita: bold,
  centro: center,
  fuente: $fuente,
  bordeFuente: 1px black,
);

$bordeImagenes: ( 
  ancho: 5px,
  color: $dorado,
  style: solid,
);

@mixin animacion($delay , $duracion){
  animation-delay: $delay;
  animation-duration: $duracion;

}